.github
.venv
.vscode
.dockerignore
.env
.env.test
Dockerfile
my-ansible-inventory.yml
my-ansible-playbook.yml
**/.pytest_cache
**/__pycache__
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc